body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}
.container{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.competences h3{
    text-transform: capitalize;
    color: grey;    
}

.competences ul  {
    padding-bottom: 2%;
}

#ex, .competences h3 {
    font-size: 20px;
    color: grey;
    text-transform: capitalize;
    font-style: italic;
}
.sidebar{
    width: 15%;
    margin-right: 20px;
    border:1px black solid;
    border-radius:20px;
    background-color: silver;
}

.sidebar img {
    border-radius: 50%;    
}

.info-center{
    text-align: center;
    margin-top: 15px;
}

.content{
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
}

.content ul {
    margin: 0 2%;
}

.content li {
    margin: 0 2%;
}

.title{
    text-align: center;
}

h1, h3{
    text-align: center;
}
ul{
    padding-left: 20px;
}

.sidebar li{
    list-style: none;
}

#FR::before{
    content: '🇫🇷';
    padding-right: 10px;
}
#PL::before{
    content: '🇵🇱';
    padding-right: 10px;
}
#DE::before{
    content: '🇩🇪';
    padding-right: 10px;
}
#GE::before{
    content: '🇬🇪';
    padding-right: 10px;
}
#RU::before{
    content: '🇷🇺';
    padding-right: 10px;
}


.content-border{
    border:1px solid black;
    border-radius: 20px;
    width: 80%;
    display: inline-block;
    text-align: left;
}

.titre{
    text-align: center;
    text-transform: capitalize;
}

.competences li {
    list-style: square;
}

.competences,
.formation,
.experience{
    margin-bottom: 15px;
    padding-bottom: 2%;
}

.capral{
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.competences ul ul li{
    list-style: none;
}


.extable{
    display: flex;
    justify-content:center;
   
}



table th {
    text-align: center;
    text-transform: uppercase;
}
table{
    border-collapse: separate;
    border-spacing: 30px 10px;
    text-transform: capitalize;
}

table td {
    border-bottom: 2px solid black;
    text-align: center;
   
}

table tr:nth-child(even){
    background-color: silver;
}

.adico::first-letter,
.icon-graduation-cap::first-letter,
.icon-language::first-letter{
        padding-right: 5px;
    }

  

/* button contact me */

.send{
    text-align: center;
}

input[type=button]{
    background-color: silver;
    width: 60%;
    height: 35px;
    color: blue;
    font-weight: bolder;
    font-size: medium;
    margin-top: 10px;
    text-decoration-line: none;
    border-radius: 30px;

}

input[type=button]:hover{
    background-color: blue;
    color:white;
}

/*
skills
*/

#skill {
    text-align:center;
}

.sk-icon{
    justify-content: center;
    text-align: center;
}
.inline-flex img {
    width: 50px;
    display: inline-flex;
}

summary{
    text-transform: uppercase;
    /* text-decoration-line: underline; */
    /* text-decoration-style: double; */
    margin-bottom: 15px;
    padding-bottom: 2%;
    font-weight: bold;
}




