@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    img{
        width: 45%;
        padding-bottom: 15px;
    }
    .container {
        display: block;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 12px;
    }
    .container h3 {
        padding-bottom: 1em;
        padding-top: 1em;
        font-size: 20px;
    }
    

    .sidebar{
        width: 100%;
        margin-bottom: 10px;
    }

    .info-center{
        text-align: center;
    }

    .addr{
        padding-top: 15px;
    }
    .addr li {
        padding-left: 100px;
    }

    .addr .adico{
        padding-right: 50px;
    }

    .adico::first-letter,
    .icon-graduation-cap::first-letter,
    .icon-language::first-letter,
    .icon-globe::first-letter{
        padding-right: 4px;
    }
    .icon-language, 
    .icon-graduation-cap, 
    .icon-globe{
        font-size: 20px;
    }

    .lang-lst li {
        padding-left: 122px;
        padding-bottom: 4px;
    }

    ul.lang-lst progress, 
    .web{
       margin-left:95px;
    }

    .web li {
        margin-left: 70px;
    }
    progress::-webkit-progress-value {
    background: rgb(26, 172, 38);
  }
  
  .social-media{
      display: none;
  }

  .titre{
      padding-bottom: 1em;
      text-align: center;
    }

 
  ul {
     padding:0;
  }

  .interet{
      padding:0 20px;
      text-align: justify;   
  }

  .interet li {
      padding-bottom: 0.5em;
  }

   .atouts{
       margin:0 10%;
       text-align: center;
      
   }

   .voyages{
    margin:0 10%;
    text-align: center;
   
}



    .content{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .content h1 {
        font-size: 20px;
        margin-top: 2%;
    }

    .content h2, h3 {
        font-size: 15px;
    }

    #ex{
        font-style: italic;
        margin: 2% 0;
    }

    .title {
        margin-top: 2%;
        margin-bottom: 4%;
    }

    .content-border{
        border: none;
    }
    table{
        width: auto;
        font-size: 14px;
    }

    table th {
        text-align: center;
        text-transform: uppercase;
    }
    table{
        border-collapse: separate;
        border-spacing: 10px 10px;
        text-transform: capitalize;
    }
    
  

   
}


@media screen and (max-width:768px) and (max-device-width : 900px) and (orientation : landscape){
    img{
       width: 25%;
       padding-bottom: 15px;
    }

    .lang-lst{
        padding-left: 203px;
    }
    .web{
        padding-left: 208px;
    }

    .addr{
        padding-left: 200px;
    }

    .icon-language, .icon-graduation-cap, .icon-globe, h3{
        font-size: 20px;
    }
    .voyages{
        padding-bottom: 20px;
    }
    .titre{
        padding-left: 20px;
        text-transform:capitalize;
    }
 

   
}


